footer {
  margin-top: 25px;
  color: rgb(3, 3, 3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerImg {
  width: 100px;
}

.iconRedes {
  color: white;
  margin: 0 10px 5px 10px;
}

.iconRedes :hover {
  color: red;
}
